body {
	margin: 10vh 10vw;
	border-color: black;
	border-width: 3vmin;
	border-style: solid;
/*	padding: 74vmin;	*/
	height: 74vh;
}
img {
}
.home {
	width: 100%;
	height: 100%; 
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;		
}
